
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body style="margin: 0; padding: 0;">

<div style="width: 100% !important; background-color: #e8f5e9 !important;" >

    <p>&nbsp;</p>
    <div style="margin: auto; width: 60%;border: 1px solid grey;  background-color: white !important;">
        <div style="width: 100% !important; background-color: #1976d2 !important; padding: 3px 0px 3px 0px" >
            <h3 style="color: white; padding-left: 10px">BOOKING CARE SYSTEM BY TUAN ANH</h3>
        </div>
        <div style="padding: 16px;">
            <p>Cảm ơn Anh/Chị <strong><span th:text="${lichKham.benhNhan.hoTen}" ></span>&nbsp;</strong>đ&atilde; đặt lịch tr&ecirc;n website của ch&uacute;ng t&ocirc;i. 😃</p>
            <p>Đ&acirc;y l&agrave; th&ocirc;ng tin chi tiết về lịch kh&aacute;m của Anh/Chị :</p>
            <table border="1" class="table table-striped" style="border-collapse: collapse; width: 100%; height: 174px; border: 1px solid rgb(0, 0, 0);">
                <thead>
                <tr style="height: 22.3906px;">
                    <th scope="col" style="width: 32.9436%; border-width: 1px; padding: 10px; height: 22.3906px; border-color: rgb(0, 0, 0);">Id lịch kh&aacute;m</th>
                    <td th:text="${lichKham.id}" style="width: 67.0577%; border-width: 1px; padding: 10px; height: 22.3906px; border-color: rgb(0, 0, 0);">7</td>
                </tr>
                </thead>
                <tbody>
                <tr style="height: 30.3125px;">
                    <th scope="col" style="width: 32.9436%; border-width: 1px; padding: 10px; height: 30.3125px; border-color: rgb(0, 0, 0);">B&aacute;c sỹ kh&aacute;m</th>
                    <td th:text="${lichKham.bacSy.hoTen}" style="width: 67.0577%; border-width: 1px; padding: 10px; height: 30.3125px; border-color: rgb(0, 0, 0);">Nguyễn Duy Tuấn</td>
                </tr>
                <tr style="height: 30.3125px;">
                    <th scope="col" style="width: 32.9436%; border-width: 1px; padding: 10px; height: 30.3125px; border-color: rgb(0, 0, 0);">Chuy&ecirc;n khoa</th>
                    <td th:text="${lichKham.bacSy.chuyenKhoa.ten}"  style="width: 67.0577%; border-width: 1px; padding: 10px; height: 30.3125px; border-color: rgb(0, 0, 0);">Ngoại Cơ Xương Khớp</td>
                </tr>
                <tr style="height: 30.3125px;">
                    <th scope="col" style="width: 32.9436%; border-width: 1px; padding: 10px; height: 30.3125px; border-color: rgb(0, 0, 0);">Giá tiền khám</th>
                    <td th:text="${#numbers.formatDecimal(lichKham.tienKham, 1, 'DEFAULT', 0, 'DEFAULT')} + ' VND'"   style="width: 67.0577%; border-width: 1px; padding: 10px; height: 30.3125px; border-color: rgb(0, 0, 0);" class="tienKham1"></td>
                </tr>
                <tr style="height: 30.3125px;">
                    <th scope="col" style="width: 32.9436%; border-width: 1px; padding: 10px; height: 30.3125px; border-color: rgb(0, 0, 0);">Ngày khám</th>
                    <td th:text="${#dates.format(lichKham.ngayKham, 'dd/MM/yyyy')}" style="width: 67.0577%; border-width: 1px; padding: 10px; height: 30.3125px; border-color: rgb(0, 0, 0);">Từ 8h30 đến 9h30</td>
                </tr>
                <tr style="height: 30.3125px;">
                    <th scope="col" style="width: 32.9436%; border-width: 1px; padding: 10px; height: 30.3125px; border-color: rgb(0, 0, 0);">Khung giờ khám</th>
                    <td th:if="${lichKham.khungGioKham==1}" style="width: 67.0577%; border-width: 1px; padding: 10px; height: 30.3125px; border-color: rgb(0, 0, 0);">Từ 8h30 đến 9h30</td>
                    <td th:if="${lichKham.khungGioKham==2}" style="width: 67.0577%; border-width: 1px; padding: 10px; height: 30.3125px; border-color: rgb(0, 0, 0);">Từ 10h00 đến 11h00</td>
                    <td th:if="${lichKham.khungGioKham==3}" style="width: 67.0577%; border-width: 1px; padding: 10px; height: 30.3125px; border-color: rgb(0, 0, 0);">Từ 14h00 đến 15h00</td>
                    <td th:if="${lichKham.khungGioKham==4}" style="width: 67.0577%; border-width: 1px; padding: 10px; height: 30.3125px; border-color: rgb(0, 0, 0);">Từ 15h30 đến 16h30</td>
                </tr>
                <tr style="height: 30.3125px;">
                    <th scope="col" style="width: 32.9436%; border-width: 1px; padding: 10px; height: 30.3125px; border-color: rgb(0, 0, 0);">Thời gian đăng k&iacute;</th>
                    <td th:text="${#dates.format(lichKham.thoiGianDk, 'dd/MM/yyyy HH:mm')}" style="width: 67.0577%; border-width: 1px; padding: 10px; height: 30.3125px; border-color: rgb(0, 0, 0);">30/12/2022 09:27</td>
                </tr>
                <tr style="height: 30.3125px;">
                    <th scope="col" style="width: 32.9436%; border-width: 1px; padding: 10px; height: 30.3125px; border-color: rgb(0, 0, 0);">Nơi khám</th>
                    <td th:text="${lichKham.bacSy.noiKham} + ', Bệnh viện Việt Đức (40 Tràng Thi, Hoàn Kiếm, Hà Nội)'" style="width: 67.0577%; border-width: 1px; padding: 10px; height: 30.3125px; border-color: rgb(0, 0, 0);">30/12/2022 09:27</td>
                </tr>
                <tr style="height: 30.3594px;">
                    <th scope="col" style="width: 32.9436%; border-width: 1px; padding: 10px; height: 30.3594px; border-color: rgb(0, 0, 0);">Trạng th&aacute;i</th>
                    <td th:text="${lichKham.status.getValue()}" style="width: 67.0577%; border-width: 1px; padding: 10px; height: 30.3594px; border-color: rgb(0, 0, 0);">Đ&atilde; x&aacute;c nhận</td>
                </tr>
                </tbody>
            </table>


            <p>Rất mong anh/chị đến đ&uacute;ng lịch hẹn. Cảm ơn rất nhiều :&gt;</p>
        </div>

    </div >
    <p style="text-align: center">&nbsp;</p>
</div>
</body>
</html>

